body{
    display: flex;
}

.grid{
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.row{
    display: flex;
    flex: 1;
}

#gridContainer{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

#buttonArea{
    border: solid 1px rgb(212, 3, 3);
    width: 400px;
    height: 400px;
}